<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS 

###Instructor: Enrique Naredo
###CS6501_Lab-0.16_sol

#**Extra Pandas problems**

## Problem 1 

Import pandas as pd and print the version number.

In [1]:
import pandas as pd
print(pd.__version__)

1.1.5

## Problem 2

Create a pandas series from each of the items below: a list, numpy and a dictionary

Input:

`mylist = list('abcedfghijklmnopqrstuvwxyz')`

`myarr = np.arange(26)`

`mydict = dict(zip(mylist, myarr))`

In [5]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

print(pd.Series(mylist))
print(pd.Series(myarr))
print(pd.Series(mydict))

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

## Problem 3

Convert the series `ser` into a dataframe with its index as another column on the dataframe.

Input:

`mylist = list('abcedfghijklmnopqrstuvwxyz')`

`myarr = np.arange(26)`

`mydict = dict(zip(mylist, myarr))`

`ser = pd.Series(mydict)`

In [18]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(pd.DataFrame({'v':ser.values,'i':ser.index}))

     v  i
0    0  a
1    1  b
2    2  c
3    3  e
4    4  d
5    5  f
6    6  g
7    7  h
8    8  i
9    9  j
10  10  k
11  11  l
12  12  m
13  13  n
14  14  o
15  15  p
16  16  q
17  17  r
18  18  s
19  19  t
20  20  u
21  21  v
22  22  w
23  23  x
24  24  y
25  25  z

## Problem 4

Combine `ser1` and `ser2` to form a dataframe.

Input:

`ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))`

`ser2 = pd.Series(np.arange(26))`

In [15]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
print(pd.DataFrame({1:ser1,2:ser2}))

    1   2
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

## Problem 5

Give a name to the series ser calling it ‘alphabets’.

`ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))`

In [19]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

## Problem 6

From `ser1` remove items present in `ser2`.

Input:

`ser1 = pd.Series([1, 2, 3, 4, 5])`

`ser2 = pd.Series([4, 5, 6, 7, 8])`

In [26]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

## Problem 7

Get all items of `ser1` and `ser2` not common to both.

Input:

`ser1 = pd.Series([1, 2, 3, 4, 5])`

`ser2 = pd.Series([4, 5, 6, 7, 8])`

In [32]:
pd.concat([ser1[~ser1.isin(ser2)],ser2[~ser2.isin(ser1)]])

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

## Problem 8

Calculte the frequency counts of each unique value `ser`.

Input:

`ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))`

In [33]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

b    9
f    4
e    4
d    4
h    3
g    3
a    2
c    1
dtype: int64

## Problem 9

From `ser`, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

Input:

`ser = pd.Series(np.random.randint(1, 5, [12]))`

In [62]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
#print(ser)
d=ser.value_counts()

ser[~ser.isin(d.index[:2])] = 'Other'
print(ser)

0         f
1     Other
2     Other
3         g
4     Other
5     Other
6     Other
7     Other
8         g
9     Other
10        f
11        f
12    Other
13        f
14    Other
15    Other
16    Other
17    Other
18        g
19    Other
20        f
21        f
22        g
23        g
24    Other
25    Other
26    Other
27        f
28    Other
29    Other
dtype: object

## Problem 10

Reshape the series `ser` into a dataframe with 7 rows and 5 columns

Input:

`ser = pd.Series(np.random.randint(1, 10, 35))`

In [63]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  4  1  9  1  7
1  4  5  8  6  9
2  6  2  3  6  3
3  8  4  8  5  9
4  4  9  8  7  1
5  7  5  4  1  3
6  4  6  5  4  8