<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS 

###Instructor: Enrique Naredo
###CS6501_Lab-0.9

# Pandas exercise

In [1]:
import pandas as pd


# Problem 1 

Create a pandas series from each of the items below: a list, numpy and a dictionary

In [2]:
# Input
import numpy as np
a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

In [3]:
#Solutions (different ways)
series1 = pd.Series(a_list)
print(series1)
series2 = pd.Series(numpy_array)
print(series2)
series3 = pd.Series(dictionary)
print(series3)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
A    0
B    1
C    2
D    3
E    5
dtype: int64

# Problem 2

Convert the series `ser` into a dataframe with its index as another column on the dataframe.

In [6]:
# input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser[:5])
print(pd.DataFrame({"col1":ser}))

a    0
b    1
c    2
e    3
d    4
dtype: int64
   col1
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25

# Problem 3 

Combine ser1 and ser2 to form a dataframe with two columns.

In [7]:
# input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
pd.DataFrame({'C0':ser1,'C1':ser2})

   C0  C1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

# Problem 4

Get all items of ser1 and ser2 not common to both.

In [11]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
uni = np.union1d(ser1,ser2)
print(uni[np.isin(uni,np.intersect1d(ser1,ser2),invert=True)])

[1 2 3 6 7 8]

# Problem 5

Get all items of ser1 and ser2 not common to both.

In [ ]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [12]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
uni = np.union1d(ser1,ser2)
print(uni[np.isin(uni,np.intersect1d(ser1,ser2),invert=True)])

[1 2 3 6 7 8]