<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS 

###Instructor: Enrique Naredo
###CS6501_Lab-0.10

# Pandas exercise

In [2]:
import pandas as pd
import numpy as np

# Problem 6
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Notes:
Do you know what percentile and median are? If no, see  <a href="https://en.wikipedia.org/wiki/Percentile">percentile</a> and <a href="https://en.wikipedia.org/wiki/Median">median</a>.

In [11]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
print(" ".join([str(s) for s in np.percentile(ser,[0,25,75,100])]))
print(np.median(ser))
print(np.max(ser))
print(np.min(ser))

1.2511726347265135 7.7098650724868785 13.363604028548306 18.0949083033763
10.922593452819715
18.0949083033763
1.2511726347265135

# Problem 7 

Calculate the frequency counts of each unique value ser.

In [19]:
# input
idx = np.random.randint(8, size=30)
print(idx)
ser = pd.Series(np.take(list('abcdefgh'), idx))
print(ser)
pd.value_counts(ser)

[1 6 6 0 4 6 7 5 4 0 5 2 5 5 3 7 6 6 7 0 1 4 6 0 0 5 3 5 6 7]
0     b
1     g
2     g
3     a
4     e
5     g
6     h
7     f
8     e
9     a
10    f
11    c
12    f
13    f
14    d
15    h
16    g
17    g
18    h
19    a
20    b
21    e
22    g
23    a
24    a
25    f
26    d
27    f
28    g
29    h
dtype: object

g    7
f    6
a    5
h    4
e    3
d    2
b    2
c    1
dtype: int64

# Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [56]:
# input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
frq = ser.value_counts()
print(frq)
ser[~ser.isin(frq.index[:2])] = "Other"
print(ser)

0     4
1     2
2     1
3     4
4     4
5     2
6     3
7     3
8     2
9     2
10    1
11    1
dtype: int64
2    4
4    3
1    3
3    2
dtype: int64
0         4
1         2
2     Other
3         4
4         4
5         2
6     Other
7     Other
8         2
9         2
10    Other
11    Other
dtype: object

# Problem 9
Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [66]:
# input
ser = pd.Series(np.random.random(20))
#print(ser)
print(ser.values)
#Solution  is provided:
print(pd.qcut(ser, q=4))
np.percentile(ser,[0,25,50,100])
# we can also pass labels
#pd.qcut(ser, q = [0, .10, .20, .30, .40, .50, .60, .70, .80, .90, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

[0.31248655 0.63114271 0.1047067  0.95978159 0.35549789 0.5314355
 0.73152763 0.1652714  0.71245097 0.49722803 0.74592072 0.23902071
 0.90375536 0.91561209 0.38236679 0.42432017 0.26136839 0.33061282
 0.93915975 0.0577647 ]
0                    (0.3, 0.461]
1                  (0.461, 0.735]
2     (0.056799999999999996, 0.3]
3                   (0.735, 0.96]
4                    (0.3, 0.461]
5                  (0.461, 0.735]
6                  (0.461, 0.735]
7     (0.056799999999999996, 0.3]
8                  (0.461, 0.735]
9                  (0.461, 0.735]
10                  (0.735, 0.96]
11    (0.056799999999999996, 0.3]
12                  (0.735, 0.96]
13                  (0.735, 0.96]
14                   (0.3, 0.461]
15                   (0.3, 0.461]
16    (0.056799999999999996, 0.3]
17                   (0.3, 0.461]
18                  (0.735, 0.96]
19    (0.056799999999999996, 0.3]
dtype: category
Categories (4, interval[float64]): [(0.056799999999999996, 0.3] < (0.3, 0.461] < (0.461, 0.735] < (0.735, 0.96]]

array([0.0577647 , 0.29970701, 0.4607741 , 0.95978159])

# Problem 10

From ser, extract the items at positions in list pos.

In [71]:
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
print(ser)
print(ser[ser.index[pos]])

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0     a
4     e
8     i
14    o
20    u
dtype: object