<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
CS6501 - MACHINE LEARNING AND APPLICATIONS 

###Instructor: Enrique Naredo
###CS6501_Lab-0.3

## Problem 1
Create a Python function that takes two numbers as arguments and return their sum.

Examples

>addition(3, 2) ➞ 5
>
>addition(-3, -6) ➞ -9
>
>addition(7, 3) ➞ 10

Notes

    Don't forget to return the `result`.

In [1]:
##Solution
# you could use different name
# for your own function
def summation(a, b):
    return a + b

In [2]:
def FionnualaAmazingSum(FirstNumber, SecondNumber): 
  return FirstNumber + SecondNumber

In [3]:
FionnualaAmazingSum(2,4)

6

## Problem 2

Create a function that takes a number as an argument, increments the number by +1 and returns the result.

Examples

>addition(0) ➞ 1
>
>addition(9) ➞ 10
>
>addition(-3) ➞ -2

In [10]:
def addition(n):
  return n+1
addition(-4)

-3

## Problem 3

Create a function that takes a string and returns it as an integer.

Examples

>string_int("6") ➞ 6
>
>string_int("1000") ➞ 1000
>
>string_int("12") ➞ 12

Notes

    All numbers will be whole numbers.

In [8]:
def string_int(s):
  return int(s)
string_int('003')

3

## Problem 4

Create a function that takes a base number and an exponent number and returns the calculation.

Examples

>calculate_exponent(5, 5) ➞ 3125
>
>calculate_exponent(10, 10) ➞ 10000000000
>
>calculate_exponent(3, 3) ➞ 27

Notes

    All test inputs will be positive integers.

In [12]:
def calculate_exponent(base,exponent):
  return base**exponent
calculate_exponent(5,5)

3125

## Problem 5

Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

Examples

>factorial(3) ➞ 6
>
>factorial(5) ➞ 120
>
>factorial(13) ➞ 6227020800

Notes

    Assume all inputs are greater than or equal to 0.

In [16]:
def factorial(n):
  if (n<2):
    return 1
  return n*factorial(n-1)
factorial(0)
factorial(4)

24